#root {
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@font-face {
  font-family: 'Darwin';
  src: url(./fonts/DarwinSerif-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Medium';
  src: url(./fonts/Fontspring-DEMO-proximanova-medium.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url('./fonts/Fontspring-DEMO-proximanovacond-semiboldit.otf') format('opentype');
}

@font-face {
  font-family: 'Playwrite Light';
  src: url(./fonts/PlaywriteNO-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Windsong';
  src: url(./fonts/WindSong-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bad Script';
  src: url(./fonts/BadScript-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Indie Flower';
  src: url('./fonts/IndieFlower-Regular.ttf') format('truetype');
}